* {
  padding: 0;
}

* {
  margin: 0;
}

.side-image{
  border-radius: 0px 8px 8px 0px;
}

.side-image-talent{
  border-radius: 8px 0px 0px 8px;
}

@media (min-width: 990px){
  .d-lg-none {
      display: none!important;
  }
  .d-md-block {
    display: block!important;
  }

  .img-block{
    width: 500px;
  }

  .side-image{
    width: 400px;
  }

  .side-image-talent{
    width: 50%;
  }

  .find-talent-hr{
    margin-top: 100px;
  }
}

@media (max-width: 990px) {
  .d-none {
    display: none!important;
  }
  .side-image{
    width: auto;
  }

  .side-image-talent{
    width: auto;
  }
}